@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    font-size: 2.5vw;
    color: #77ffc0;
}

.left-login > img {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10p 40px #00000056;
    outline: none;
}

.text-field > input::placeholder {
    color: #f0ffff94;
}

.text-field > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

form > button {
    width: 100%;
    padding: 16px 0px;
    margin: 25px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login > img {
        width: 50vw;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 90%;
    }
}